footer[role="contentinfo"]{
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;

  ul,
  > p {
    border-top: 1px solid currentColor;
    margin: rem(16) $gutter;
    padding-top: rem( 5 );
    overflow: hidden;
  }

  li,
  > p a {
    margin: rem( 12 ) 0;
  }


  @media (min-width: $large) {
    text-align: right;

    .footer-to-top {
      display: none;
    }

    li,
    > p a{
      padding-top: rem( 2 );
      margin: rem( 8 ) 0;
    }
  }
}
