header[role="banner"]{
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $gutter;
  text-transform: uppercase;
  width: 100%;

  h1 {
    font-size: rem( 40 );
    margin: rem( 16 ) 0;
  }

  [role="doc-subtitle"] {
    color: #cccccc;
    font-size: rem( 60 );
    letter-spacing: em( -1 / 60 );
    padding-top: rem( 24 );

    @media (max-width: $max-large){
      @include hide();
    }
  }

  .about & {
    $color: #99018e, #ea05b7;

    h1 {
      font-weight: 800;
      display: inline-block;
      vertical-align: top;

      @supports(background-clip: text){
        background-clip: text;
        color: transparent;
      }
      @supports(-webkit-background-clip: text){
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @include backgroundClipGradient($color);
    }
  }
}
