.list {
  padding: 0 $gutter;
  line-height: (24/16);
  font-family: $font-list;

  outline: none;

  li{
    &::after {
      display: block;
      column-span: all;
      height: rem( 16 );
    }

    + li:last-child {
      &::after {
        content: none;
      }
    }
  }

  @media (max-width: $max-xsmall) {
    li:nth-child(5n){
      &::after {
        content: '';
      }
    }
  }

  @media (min-width: $small) {
    columns: 2;
    column-gap: $gutter;
    margin: $gutter 0;
    width: 100%;

    li{
      &::after {
        height: rem( 24 );
      }
    }

    @media (max-width: $max-large) {
      li:nth-child(10n){
        &::after {
          content: '';
        }
      }
    }
  }

  @media (min-width: $xlarge) {
    columns: 4;
    column-gap: $gutter;

    li:nth-child(20n){
      &::after {
        content: '';
      }
    }
  }
}
