.names-form{
  margin: rem( 16 ) $gutter;
  text-transform: uppercase;

  .rarity {
    label {
      span {
        @supports(background-clip: text){
          background-image: linear-gradient(90deg, #7B769A, #6E93B6);
        }
        @supports(-webkit-background-clip: text){
          background-image: linear-gradient(90deg, #7B769A, #6E93B6);
        }
      }
    }
  }
  .title {
    label {
      span {
        @supports(background-clip: text){
          background-image: linear-gradient(90deg, #00143C, #2FF567);
        }
        @supports(-webkit-background-clip: text){
          background-image: linear-gradient(90deg, #00143C, #2FF567);
        }
      }
    }
  }
  .decade {
    label {
      span {
        @supports(background-clip: text){
          background-image: linear-gradient(90deg, #57E812, #0270F1);
        }
        @supports(-webkit-background-clip: text){
          background-image: linear-gradient(90deg, #57E812, #0270F1);
        }
      }
    }
  }

  .footer {
    border-bottom: 1px solid #465860;
    padding-bottom: rem( 16 );
  }

  [type=submit] {
    background: none;
    background-image: linear-gradient(90deg, currentColor, currentColor);
    background-position: 0 calc( 100% - 1px);
    background-repeat: repeat-x;
    background-size: 100% 1px;
    border: none;
    font-size: rem( 20 );
    padding: 0;
    text-transform: uppercase;
    transition: background 0.3s ease;

    @include interact() {
      background-position: 0 100%;
      background-size: 100% 2px;
    }
  }
}
