.names-form{
  margin: rem( 16 ) $gutter;
  text-transform: uppercase;

  .rarity {
    label {
      span {
        @supports(background-clip: text){
          background-image: linear-gradient(90deg, #7B769A, #6E93B6);
        }
        @supports(-webkit-background-clip: text){
          background-image: linear-gradient(90deg, #7B769A, #6E93B6);
        }
      }
    }
  }
  .title {
    label {
      span {
        @supports(background-clip: text){
          background-image: linear-gradient(90deg, #00143C, #2FF567);
        }
        @supports(-webkit-background-clip: text){
          background-image: linear-gradient(90deg, #00143C, #2FF567);
        }
      }
    }
  }
  .decade {
    label {
      span {
        @supports(background-clip: text){
          background-image: linear-gradient(90deg, #57E812, #0270F1);
        }
        @supports(-webkit-background-clip: text){
          background-image: linear-gradient(90deg, #57E812, #0270F1);
        }
      }
    }
  }

  .footer {
    border-bottom: 1px solid #465860;
    padding-bottom: rem( 4 );
    margin-top: rem( -12 );

    li {
      margin: rem( 12 ) 0;
    }
  }
}
