body {
  background-color: #e4e4e4;
  font-family: $font-body;
  font-weight: 300;
  font-size: 100%;
  line-height: (24/20);
  color: #465860;
  display: flex;
  flex-direction: column;

  main {
    flex: 1
  }
}
