$pixel: em( math.div(1, 16) );
$xsmall: (math.div( 360, 16) * 1em );
$small: (math.div( 576, 16) * 1em );
$medium: (math.div( 768, 16) * 1em );
$large: (math.div( 992, 16) * 1em );
$xlarge: ( math.div(1100, 16) * 1em );
$xxlarge: ( math.div(1200, 16) * 1em );

$max-root: ($xsmall - $pixel );
$max-xsmall: ($small - $pixel );
$max-small: ($medium - $pixel );
$max-medium: ($large - $pixel );
$max-large: ( $xlarge - $pixel );
$max-xlarge: ( $xxlarge - $pixel );

$max-width: rem( 1112 );

$gutter: rem( 24 );

$easing: cubic-bezier( 0.250, 0.100, 0.250, 1);

$font-list: "Jetbrains Mono", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-body: Barlow, "Century Gothic", CenturyGothic, AppleGothic, sans-serif
